{#
    Left navigation panel that is displayed on every page.
#}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidebar_id">
        <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            Saved reports
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <span data-feather="home"></span> Report Home
                </a>
            </li>
        </ul>

        {# List all the category navigation headers. #}
        {% for key, value in context.navbar.items() %}
            <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            {{ key }}
            </h6>
            <ul class="nav flex-column">
            {% for artefact in value %}
                <li class="nav-item" id="navbar_list">
                        <a data-artefact="{{ artefact.unique_id }}" class="nav-link" href="{{ artefact.file_name }}">
                            {% if artefact.icon %}
                                <span data-feather="{{ artefact.icon }}"></span>
                            {% else %}
                                {# Provide a default icon so Feather doesn't fall over. #}
                                <span data-feather="chevrons-right"></span>
                            {% endif %}
                            {{ artefact.name }}
                        </a>
                    </li>
            {% endfor %}
            </ul>
       {% endfor %}
    </div>
</nav>
